.Tip__compact {
  cursor: pointer;
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
.inputfield {
  display: block;
  margin-bottom: 7px;
  padding: 5px;
  border-radius: 5px;
  width: 94%;
  margin-top: 3px;
}
.Tip__card {
  /* padding: 10px;
  width: 100%;
  background: #565252;
  background-clip: padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 14px;
  box-shadow: 0 2px 4px rgba(37, 40, 43, 0.2); */

  /* position: absolute; */
  /* left: 734px; */
  /* top: 375.4375px; */
  width: 460px;
  height: 250px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  /* z-index: 10; */
}
.book_mark {
  display: inline;
}
.textfont {
  color: white;
}
.Tip__card textarea {
  font-size: 16px;
  width: 200px;
  height: 70px;
  display: block;
  border-radius: 12px;
  margin-bottom: 7px;
  width: 96%;
  margin-top: 3px;
}
.colors {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
.resize {
  padding: 0 14px;
}
.savebtn {
  margin-bottom: 4px;
  border-radius: 6px;
  padding: 6px 16px;
  background-color: #fafbfc;
  border: none;
  cursor: pointer
}

.Tip__card input[type="submit"] {
  margin-top: 5px;
  font-size: large;
}
